<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="{{ url_for('index') }}" class="home-button"
        ><i class="fas fa-home"></i
      ></a>
      <a href="{{ url_for('about') }}">About</a>
      <div class="navbar-right">
        <a href="{{ url_for('login') }}" class="button is-link">Login</a>
        <a href="{{ url_for('register') }}" class="button is-link">Register</a>
      </div>
    </nav>
    {% block content %}
{% endfor %}
</div>
{% endblock %}

  </body>
</html>