{% block content %}

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
/>
<section class="section">
  <div class="container">
    <h1 class="title">Register</h1>
    <form method="post" action="{{url_for('register')}}">
      <div class="field">
        <label class="label">First Name:</label>
        <div class="control">
          <input class="input" type="text" name="first_name" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Last Name:</label>
        <div class="control">
          <input class="input" type="text" name="last_name" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Username:</label>
        <div class="control">
          <input class="input" type="text" name="username" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Email:</label>
        <div class="control">
          <input class="input" type="email" name="email" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Password:</label>
        <div class="control">
          <input class="input" type="password" name="password" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm Password:</label>
        <div class="control">
          <input
            class="input"
            type="password"
            name="confirm_password"
            required
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Credit Card Number:</label>
        <div class="control">
          <input class="input" type="text" name="credit_card_number" required />
        </div>
      </div>
      <div class="field">
        <label class="label">Name on Card:</label>
        <div class="control">
          <input
            class="input"
            type="text"
            name="name_on_card"
            value="{{first_name}} {{last_name}}"
            required
          />
        </div>
      </div>
      <div class="field">
        <label class="label">Expiration Date:</label>
        <div class="control">
          <input class="input" type="month" name="expiration_date" required />
        </div>
      </div>
      <div class="field">
        <label class="label">CVC:</label>
        <div class="control">
          <input class="input" type="text" name="cvc" required />
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-text" href="{{url_for('login')}}"
            >Already have an account? Login here</a
          >
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}